templates/vlan-management-template.json
{
  "name": "VLAN Management Workflow",
  "nodes": [
    {
      "name": "VLAN Change Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "vlan-management",
        "responseMode": "responseNode"
      }
    },
    {
      "name": "Validate VLAN Request",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [400, 300],
      "parameters": {
        "functionCode": "// Validate VLAN configuration request\nconst request = items[0].json;\n\n// Check required fields\nif (!request.vlan_id || !request.name || !request.switches) {\n  throw new Error('Missing required fields: vlan_id, name, switches');\n}\n\n// Validate VLAN ID range\nif (request.vlan_id < 1 || request.vlan_id > 4094) {\n  throw new Error('VLAN ID must be between 1 and 4094');\n}\n\n// Return validated request\nreturn items;"
      }
    },
    {
      "name": "Get Switch List",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [600, 300],
      "parameters": {
        "functionCode": "// Process switch list from request\nconst request = items[0].json;\nconst switches = request.switches;\n\n// Create array of switch objects\nconst switchArray = switches.map(switchIp => ({\n  switch_ip: switchIp,\n  vlan_config: {\n    vlan_id: request.vlan_id,\n    name: request.name,\n    description: request.description || '',\n    admin_state: request.admin_state || 'up'\n  }\n}));\n\nreturn switchArray.map(sw => ({ json: sw }));"
      }
    },
    {
      "name": "Create VLAN on Switch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [800, 300],
      "parameters": {
        "url": "https://{{$json.switch_ip}}/rest/v10.08/system/vlans",
        "method": "POST",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "body": "={{JSON.stringify($json.vlan_config)}}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 30000
        }
      }
    },
    {
      "name": "Verify VLAN Creation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1000, 300],
      "parameters": {
        "url": "https://{{$json.switch_ip}}/rest/v10.08/system/vlans/{{$json.vlan_config.vlan_id}}",
        "method": "GET",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 30000
        }
      }
    },
    {
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1200, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"VLAN {{$json.vlan_config.vlan_id}} created successfully\",\n  \"switches_configured\": \"{{$('Get Switch List').length}}\"\n}"
      }
    },
    {
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1200, 400],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"error\",\n  \"message\": \"{{$node.error.message}}\",\n  \"timestamp\": \"{{$now}}\"\n}",
        "responseCode": 400
      }
    }
  ],
  "connections": {
    "VLAN Change Webhook": {
      "main": [
        [
          {
            "node": "Validate VLAN Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate VLAN Request": {
      "main": [
        [
          {
            "node": "Get Switch List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Switch List": {
      "main": [
        [
          {
            "node": "Create VLAN on Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create VLAN on Switch": {
      "main": [
        [
          {
            "node": "Verify VLAN Creation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify VLAN Creation": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}